.radio {
    display: flex;
    align-items: center;
    height: 42px;
    margin-right: 10px;
}
.radio:hover {
    cursor: pointer;
}
.radio__label {
    position: relative;
    user-select: none;
}
.radio__input {
    opacity: 0;
    position: absolute;
}
.radio__input ~ label:before {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px rgba(84, 176, 191, 1);
    margin: 0 10px 2px 0;
}
.radio__input:checked ~ label:before {
    background: rgba(84, 176, 191, 1);
}
