.input {
    border: 2px solid #54b0bf;
    color: inherit;
    background: #fff;
    outline: none;
    box-sizing: border-box;
    max-width: 320px;
    padding: 0 4px;
    font-family: inherit;
    text-align-last: center;
}

.input_size_32 {
    height: 37px;
    font-size: 16px;
}

.input:focus {
    border-color: rgba(84, 176, 191, 0.6);
}

.input::placeholder {
    color: grey;
}

.input:focus::placeholder {
    color: var(--text-tertiary);
}

.input:disabled {
    background: #efefef;
    border-color: #d0d0d0;
    color: #d0d0d0;
}
